.formato-mensaje-container {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: #d3bbdc;
    border: 2px solid #6b3f87;
    border-radius: 8px;
    margin-bottom: 8px;
    height: 30vh;
    width: 90vw;
  }

.perfil {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #6b3f87;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 24px;
    margin-right: 16px;
  }
  
  .deLabel {
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .asuntoLabel {
    color: rgb(151, 151, 151);
    font-weight: bold;
  }
  /*d  */

  .botones-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
  }
  
  .boton-mensaje {
    padding: 10px 20px;
    background-color: #6C5DD3;
    color: #fff;
    border: none;
    border-radius: 10px 0 0 10px;
    margin: 0 10px;
  }
  
  .boton-enviar {
    padding: 10px 20px;
    background-color: #6C5DD3;
    color: #fff;
    border: none;
    border-radius: 0 10px 10px 0;
    margin: 0 10px;
  }
  
  .boton-mensaje:hover, .boton-enviar:hover {
    cursor: pointer;
    background-color: #7E75E9;
  }

