:root {
    --input-padding-x: 0.75rem;
    --input-padding-y: 0.75rem;
}

.body-floating-l {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
    max-width: 500px;
    border-radius: 20px;
}

.form-signin {
    width: 100%;
    max-width: 320px;
    padding: 15px;
    margin: 0 auto;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group>input,
.form-label-group>label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

.loginFormContainer {
    border: 2px solid #6b3f87;
    background-color: #d3bbdc;
    border-radius: 10px;
    padding: 20px;
}

.formGroup {
    margin-bottom: 15px;
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #6b3f87;
}

.input {
    width: 99%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #6b3f87;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.signInButton {
    background-color: #6b3f87;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.logInButton {
    background-color: #bbd0ed;
    color: #6b3f87;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}