.loginFormContainer {
    border: 2px solid #6b3f87;
    background-color: #d3bbdc;
    border-radius: 10px;
    padding: 20px;
}

.formGroup {
    margin-bottom: 15px;
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #6b3f87;
}

.input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #6b3f87;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.signInButton {
    background-color: #6b3f87;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.logInButton {
    background-color: #bbd0ed;
    color: #6b3f87;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
